.flex-container1 {
    display: flex;
    height: 250px;
    width: 250px;
    background-color: blue;
    padding:25px;
    margin: 10px;
    display: inline-flex
  }
  .flex-container2{
    height: 250px;
    display:flex;
    height: 250px;
    width: 250px;
      background-color: black;
      padding:25px;
      margin: 10px;
      display: inline-flex
  }
  .flex-container3 {
    height: 250px;
    display:flex;
    height: 250px;
    width: 250px;
      background-color: black;
      padding:25px;
      margin: 10px;
      display: inline-flex
  }
  .flex-container4{
    display: flex;
    height: 250px;
    width: 250px;
    background-color: brown;
    padding:25px;
    margin: 10px;
    display: inline-flex

  }
  .flex-container5 {
    display: flex;
    height: 250px;
    width: 250px;
    background-color:hotpink;
    padding:25px;
    margin: 10px;;
    display: inline-flex

  }
  .flex-container6 {
    display: flex;
    height: 250px;
    width: 250px;
    background-color: darkgoldenrod;
    padding:25px;
    margin: 10px;;
    display: inline-flex

  }
  .flex-container7 {
    display: flex;
    height: 250px;
    width: 250px;
    background-color: darkblue;
    padding:25px;
    margin: 10px;;
    display: inline-flex
  }
  .flex-container8 {
    display: flex;
    background-color:chartreuse;
    height: 250px;
    width: 250px;
    padding:25px;
    margin: 10px;;
    display: inline-flex
  }